/*
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 800ms;
  opacity: 0;
  z-index: 10000000002;
}

.show {
  display: block;
  opacity: 1;
}

.popup {
  /*display: inline-block;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 37px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 426px;
  max-height: 350px;
  position: relative;
  transition: all 1s ease-in-out;
  box-shadow: 0 3px 11px 2px rgba(0, 0, 0, 0.3);
}

.popup h2 {
  max-width: 370px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #000006;
  box-sizing: border-box;
}

.popup .content {
  /* max-height: 70%; */
  /* overflow: auto; */
  max-width: 370px;
  margin: 10px 0 0;
  letter-spacing: .3px;
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #878787;
  box-sizing: border-box;
}

.closepop, .closepop:active, .closepop:after {
  position: absolute;
  top: -10px;
  right: 10px;
  transition: all 200ms;
  font-size: 58px;
  font-weight: 300;
  text-decoration: none;
  color: #333;
  font-family: serif;
  border: none;
  background: none;
  cursor: pointer;
  outline:none;
}

.closepop:hover {
  color: #6C3483;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}

.iPopButton {
  z-index: 100000002;
  left: 20px;
  bottom: 60px;
  position: fixed;
  /* display: block; */

  width: 53px;
  height: 53px;
  background-color: #93c73e;
  cursor: pointer;
  border-radius: 11px;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.iPopButton img {
  width: 33px;
  height: 33px;
  vertical-align: middle;
}

iframe button[type=submit], iframe input[type=submit] {
  background: #000 !important;
}
